:root{
    --yellow-color: #ffbe33;
    --black-color: #222831;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'dancing-script';
    src: url('../fonts/Dancing_Script/static/DancingScript-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'dancing-script';
    src: url('../fonts/Dancing_Script/static/DancingScript-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content{
    color: white;
}

.container{
    width: 85%;
    margin: 0 auto;
    max-width: 1100px;
}

@import url(helloScreenStyles.css);
@import url(offerSectionStyles.css);
@import url(menuSectionStyles.css);
@import url(aboutSectionStyles.css);
@import url(bookSectionStyles.css);
@import url(clientSectionStyles.css);
@import url(footerStyles.css);